<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Takeoff Summary</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      Takeoff Summary
    </ion-list-header>
    <ion-item >
      Total Rooms
      <ion-badge item-right color="secondary">{{ takeoff.rooms.length }} Rooms</ion-badge>
    </ion-item>
    <ion-item >
      Work Hours
      <ion-badge item-right color="secondary">{{ takeoff.work_hours }} Hours</ion-badge>
    </ion-item>
    <ion-item >
      Labor Cost
      <ion-badge item-right color="secondary">${{ takeoff.job_labor_cost }}</ion-badge>
    </ion-item>
    <ion-item >
      Total Materials
      <ion-badge item-right color="secondary">{{ takeoff.job_materials }} Gallons</ion-badge>
    </ion-item>
    <ion-item >
      Materials Cost
      <ion-badge item-right color="secondary">${{ takeoff.job_material_cost }}</ion-badge>
    </ion-item>
    <ion-item >
      Profit
      <ion-badge item-right color="secondary">${{ takeoff.job_profit }}</ion-badge>
    </ion-item>
    <ion-item >
      Tax
      <ion-badge item-right color="secondary">${{ takeoff.job_tax }}</ion-badge>
    </ion-item>
    <ion-item >
      Job Total Cost
      <ion-badge item-right color="secondary">${{ takeoff.job_total_cost }}</ion-badge>
    </ion-item>
    <ion-item >
      Job Price
      <ion-badge item-right color="secondary">${{ takeoff.job_price }}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
