<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ client.full_name | titlecase}} Takeoff Preview</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      Takeoff Summary
    </ion-list-header>
    <button ion-item
      (click)="onPreviewSummary()">
      Preview Summary
    </button>
    <ion-list-header *ngIf="takeoff.rooms.length > 0">
      Interior Summary
    </ion-list-header>
    <button ion-item
      *ngIf="takeoff.rooms.length > 0"
      (click)="onPreviewInterior()">
      Interior (Rooms)
    </button>
    <ion-list-header *ngIf="takeoff.sides.length > 0">
      Exterior Summary
    </ion-list-header>
    <button ion-item
      *ngIf="takeoff.sides.length > 0"
      (click)="onPreviewExterior()">
      Exterior (Sides)
    </button>
  </ion-list>
</ion-content>
