<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title> Exterior Preview</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

</ion-content>
