<ion-tabs selectedIndex="1">
  <ion-tab tabIcon="ios-people" tabTitle="Clients" [root]="clientsPage"></ion-tab>
  <ion-tab tabIcon="ios-clipboard" tabTitle="Estimates" [root]="estimatesPage" ></ion-tab>
</ion-tabs>
  
