<ion-header>
  <ion-navbar>
    <ion-title>Update Client - {{ client.full_name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list-header>
    Client info
  </ion-list-header>
  <form #form="ngForm" (ngSubmit)="onSaveClient(form)">
    <ion-list>
      <ion-item>
        <ion-label floating>First Name</ion-label>
        <ion-input type="text" name="firstName" [(ngModel)]="client.first_name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Last Name</ion-label>
        <ion-input type="text" name="lastName" [(ngModel)]="client.last_name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Cell</ion-label>
        <ion-input type="tel" name="cell" [(ngModel)]="client.cell"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Phone</ion-label>
        <ion-input type="tel" name="phone" [(ngModel)]="client.phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" name="email" [(ngModel)]="client.email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Address</ion-label>
        <ion-input type="text" name="address" [(ngModel)]="client.properties[0].address" required></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button type="submit" block [disabled]="!form.valid">Save</button>
  </form>
</ion-content>
