<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="onAddItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button clear form="ngForm" (click)="onSaveRoom(f)">
        Done
      </button>
    </ion-buttons>
    <ion-title> {{ room.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <form #f="ngForm" id="ngForm">
    <ion-list>
      <ion-list-header>
        Room dimensions
      </ion-list-header>
      <ion-item>
        <ion-range pin="true" min="0" max="20" name="length"
          (ionChange)="onRoomChange($event)"
          [(ngModel)]="room.length" required color="secondary">
        </ion-range>
        <h3 item-left>Length</h3>
        <ion-badge item-right color="secondary">{{ room.length }} Ft</ion-badge>
      </ion-item>
      <ion-item>
        <ion-range pin="true" min="0" max="20" name="width"
          (ionChange)="onRoomChange($event)"
          [(ngModel)]="room.width" required color="secondary">
        </ion-range>
        <h3 item-left>Width</h3>
        <ion-badge item-right color="secondary">{{ room.width }} Ft</ion-badge>
      </ion-item>
      <ion-item>
        <ion-range pin="true" min="0" max="20" name="heigth"
        (ionChange)="onRoomChange($event)"
        [(ngModel)]="room.height" required color="secondary">
        </ion-range>
        <h3 item-left>Height</h3>
        <ion-badge item-right color="secondary">{{ room.height }} Ft</ion-badge>
      </ion-item>
      <ion-list-header>
        Material
      </ion-list-header>
      <ion-item>
        <ion-label>Select Material</ion-label>
        <ion-select [(ngModel)]="room.material_type" name="materialType"
          interface="action-sheet" (ionChange)="onMaterialChange($event)">
          <ion-option *ngFor="let material of materials" [value]="material">{{ material.name }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-list-header>
        Room Items
      </ion-list-header>
      <ion-item-sliding *ngFor="let item of room.room_features_attributes, let i = index" >
        <button ion-item detail-none *ngIf="item.set"
          (click)="onLoadItem(item)">
          {{ item.name | titlecase}}
          <ion-badge item-right color="secondary" *ngIf="item.hours">
            {{item.hours}} H | {{item.material_quantity}} G
          </ion-badge>
          <ion-icon name="checkmark" item-right color="primary"></ion-icon>
        </button>
        <button ion-item *ngIf="!item.set"
          (click)="onLoadItem(item)">
          {{ item.name | titlecase}}
          <ion-badge item-right color="secondary" *ngIf="item.hours">
            {{item.hours}} H | {{item.material_quantity}} G
          </ion-badge>
        </button>
        <ion-item-options side="left">
          <button ion-button (click)="onRemoveItem(i)"
            icon-only color="danger">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
      </ion-list>
  </form>
</ion-content>

<!--<ion-footer>
  <ion-toolbar>
    <p>Ash, Misty, Brock</p>
    <ion-buttons end>
      <button ion-button icon-right color="royal">
        Send
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>-->
