<ion-header>
  <ion-navbar >
    <ion-buttons start>
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Estimates</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-searchbar ></ion-searchbar>
  <ion-list>
    <ion-item-sliding *ngFor="let estimate of estimates; let i = index">
      <ion-item  detail-push (click)="onLoadEstimate(estimate)">
        <h2>{{ estimate.property.client.full_name | titlecase }}</h2>
        <h3>{{ estimate.property.address }}</h3>
        <ion-note color="secondary" item-end *ngIf="estimate.status === 'Takeoff Completed'">
          {{ estimate.status }} on {{ estimate.end_time | date:'medium' }}
        </ion-note>
        <ion-note color="secondary" item-end *ngIf="estimate.status !== 'Takeoff Completed'">
          {{ estimate.status }} <ion-icon name="arrow-round-forward"></ion-icon> {{ estimate.start_time | date:'medium' }}
        </ion-note>
      </ion-item>
      <ion-item-options >
        <button ion-button icon-only color="light">
          <ion-icon name="more"></ion-icon>
        </button>
        <button ion-button icon-only >
          <ion-icon name="call"></ion-icon>
        </button>
        <button ion-button icon-only color="secondary"
          (click)="onStartTakeoff(estimate)">
          <ion-icon name="jet"></ion-icon>
        </button>
      </ion-item-options>

      <ion-item-options side="left">
        <button ion-button icon-only color="danger"
          (click)="onDeleteEstimate(estimate, i)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

<!-- <ion-list no-border>

  <ion-item>
    <ion-icon name='planet' item-start></ion-icon>
    Astronomy
    <ion-note item-end>
    To the moon
    </ion-note>
  </ion-item>

  <ion-item>
    <ion-toggle checked="false"></ion-toggle>
    <ion-label>
      Muggle Studies
    </ion-label>
    <ion-icon name='body' item-start></ion-icon>
  </ion-item>

  <ion-item>
    <ion-icon name='leaf' item-start></ion-icon>
    Herbology
    <ion-icon name='rose' item-end color="secondary"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-icon name='flask' item-start></ion-icon>
    Potions
    <ion-note item-end>
    Poisonous
    </ion-note>
  </ion-item>



</ion-list> -->

  <ion-fab right bottom>
    <button ion-fab fab-right (click)="onAddEstimate()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
