<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="onAddRoom()">
        Add Room
      </button>
    </ion-buttons>
    <ion-title>Interior Takeoff</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let room of roomsList; let i = index">
      <button
        ion-item detail-none *ngIf="room.set"
        (click)="onLoadRoom(room, i)">
        <h2>{{ room.name }}</h2>
        <ion-badge item-right color="secondary">
          {{room.hours}} H | {{room.material_quantity}} G
        </ion-badge>
        <ion-icon *ngIf="room.hours > 0" name="done-all" item-right color="secondary"></ion-icon>
        <ion-icon *ngIf="room.hours == 0" name="checkmark" item-right color="secondary"></ion-icon>
      </button>
      <button
        ion-item *ngIf="!room.set"
        (click)="onLoadRoom(room, i)">
        <h2>{{ room.name }}</h2>
        <ion-badge item-right color="secondary">
          {{room.hours}} H | {{room.material_quantity}} G
        </ion-badge>
      </button>
      <ion-item-options side="left">
        <button ion-button color="danger" (click)="onDeleteRoom(i)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
