<ion-header>
  <ion-navbar>
    <ion-title>Edit Estimate of {{ client.full_name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Estimate Info</h2>
  <form #form="ngForm" (ngSubmit)="onSaveEstimate(form)">
    <ion-list>
      <ion-item>
        <ion-label floating>Start Date/Time</ion-label>
        <ion-datetime displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="estimate.start_time" required></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label floating>Job Type</ion-label>
        <ion-input type="text" name="jobType" [(ngModel)]="estimate.job_type" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Wrok Description</ion-label>
        <ion-input type="text" name="workDescription" [(ngModel)]="estimate.work_description"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button type="submit" block [disabled]="!f.valid">Save</button>
  </form>
</ion-content>
