<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="takeoff.rooms.length > 0 && takeoff.status === 'Ongoing'">
      <button ion-button clear (click)="onCompleteTakeoff()">
        Complete
      </button>
    </ion-buttons>
    <ion-title>{{ client.full_name }} Takeoff</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      Takeoff Summary
    </ion-list-header>
    <button ion-item
      (click)="onPreviewSummary()">
      Preview Takeoff Summary
    </button>
    <ion-list-header>
      Takeoff Details
    </ion-list-header>
    <button ion-item
      *ngIf="jobType === 'Interior' || jobType === 'Interior & Exterior'"
      (click)="onLoadInterior()">
      Interior Takeoff (Rooms)
    </button>
    <button ion-item
      *ngIf="jobType === 'Exterior' || jobType === 'Interior & Exterior'"
      (click)="onLoadExterior()">
      Exterior Takeoff (Sides)
    </button>
  </ion-list>
</ion-content>
