<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="onNewClient()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Clients</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let client of clients; let i = index">
      <button
        ion-item
        (click)="onLoadClient(client, i)">
        <h2>{{ client.full_name }}</h2>
        <ion-note>{{ client.phone }}</ion-note>
      </button>
      <ion-item-options >
        <button ion-button icon-only >
          <ion-icon name="call"></ion-icon>
        </button>
        <button ion-button icon-only color="secondary"
          (click)="onNewEstimate(client)">
          <ion-icon name="calendar"></ion-icon>
        </button>
      </ion-item-options>
      <ion-item-options side="left">
        <button ion-button color="danger" (click)="onDeleteClient(client, i)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
