<ion-header>
  <ion-navbar>
    <ion-title>Exterior Takeoff</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list >
    <button ion-item *ngFor="let side of sidesList" (click)="onLoadSide(side)" >
      {{ side.code }}
    </button>
  </ion-list>
</ion-content>
