<ion-header>
  <ion-navbar>
    <ion-title> {{ room.name }} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-list>
    <ion-list-header>
      Room dimensions
    </ion-list-header>
    <ion-item>
      Length
      <ion-badge item-right color="secondary">{{ room.length }} Ft</ion-badge>
    </ion-item>
    <ion-item>
      Width
      <ion-badge item-right color="secondary">{{ room.width }} Ft</ion-badge>
    </ion-item>
    <ion-item>
      Height
      <ion-badge item-right color="secondary">{{ room.height }} Ft</ion-badge>
    </ion-item>
    <ion-list-header>
      Material
    </ion-list-header>
    <ion-item>
      Job Material
      <ion-badge item-right color="secondary">{{ room.material }}</ion-badge>
    </ion-item>
    <ion-list-header>
      Room Items
    </ion-list-header>
    <button ion-item *ngFor="let item of items, let i = index"
      (click)="onLoadItem(item)">
      {{ item.name | titlecase}}
      <ion-badge item-right color="secondary">
        {{item.hours}} H | {{item.material_quantity}} G
      </ion-badge>
    </button>
  </ion-list>
</ion-content>
