<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Sign In</ion-title>
  </ion-navbar>
</ion-header>

<ion-content  padding>
  <form #form="ngForm" (ngSubmit)="onSignin(form)">
    <ion-list >
      <ion-item>
        <ion-label fixed >Email</ion-label>
        <ion-input ngModel required type="email" name="email" placeholder="Email" email></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed >Password</ion-label>
        <ion-input ngModel required type="password"
        name="password" placeholder="Password"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button block [disabled]="!form.valid" type="submit">Sign In!</button>
  </form>
</ion-content>
