<ion-menu [content]="nav">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list >
      <button *ngIf="isAuth" ion-item icon-left (click)="onLoad(rootPage)">
        <ion-icon name="ios-clipboard"></ion-icon>
        Estimating
      </button>
      <button  *ngIf="!isAuth" ion-item icon-left (click)="onLoad(signInPage)">
        <ion-icon name="log-in"></ion-icon>
        Sign In
      </button>
      <button *ngIf="!isAuth" ion-item icon-left (click)="onLoad(signUpPage)">
        <ion-icon name="person"></ion-icon>
        Sign Up
      </button>
      <button *ngIf="isAuth" ion-item icon-left (click)="onSignOut()">
        <ion-icon name="log-out"></ion-icon>
        Logout
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #nav></ion-nav>
