<ion-header>
  <ion-navbar >
    <ion-title>{{ estimate.property.client.full_name | titlecase }} Estimate</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button block *ngIf="estimate.status === 'Pending'"
  (click)="onStartTakeoff(estimate)">Start Takeoff</button>
  <ion-list>
    <ion-list-header>
      CLIENT INFO
    </ion-list-header>
    <ion-item detail-push (click)="onLoadClient(client)">
      {{ estimate.property.client.full_name | titlecase }}
    </ion-item>
    <ion-list-header>
      Address
    </ion-list-header>
    <ion-item *ngIf="estimate.property.address">
      {{ estimate.property.address }}
    </ion-item>
    <ion-list-header>
      JOB TYPE
    </ion-list-header>
    <ion-item ion-item >
      {{ estimate.work_type }}
    </ion-item>
    <ion-list-header>
      ESTIMATE STATUS
    </ion-list-header>
    <ion-item>
      <h2>{{ estimate.status }}</h2>
      <ion-note color="secondary" item-end *ngIf="getEstimateStatus()">
        {{ estimate.status }} on {{ estimate.end_time | date:'medium' }}
      </ion-note>
      <ion-note color="secondary" item-end *ngIf="!getEstimateStatus()">
        {{ estimate.status }} <ion-icon name="arrow-round-forward"></ion-icon> {{ estimate.start_time | date:'medium' }}
      </ion-note>
    </ion-item>
    <ion-item detail-push
        *ngIf="takeoff.status === 'Ongoing'"
        (click)="onViewTakeoff()">
        Resume Takeoff
    </ion-item>
    <ion-item detail-push
        *ngIf="estimate.status === 'Takeoff Completed'"
        (click)="onLoadTakeoff()">
        Preview Takeoff
    </ion-item>
    <ion-list-header>
      SUBMITTED PROPOSALS
    </ion-list-header>
    <ion-item >
      <h2>No proposal submitted yet</h2>
    </ion-item>
  </ion-list>
</ion-content>
