<ion-header>
  <!--<ion-navbar>
    <ion-title> {{ item.name | titlecase }}</ion-title>
  </ion-navbar>-->
  <ion-toolbar>
    <ion-title>
      {{ item.name | titlecase }}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="onSaveItem()">Done</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list-header>
    {{item.name | titlecase }} Details
  </ion-list-header>
  <form #f="ngForm" (ngSubmit)="onSaveItem(f)">
    <ion-list>
      <ion-item>
        <ion-label>{{item.name | titlecase }} Type</ion-label>
        <ion-select [(ngModel)]="item.rate" name="rate"
          interface="action-sheet" (ngModelChange)="onRateChange($event)">
          <ion-option *ngFor="let rate of item.category.rates" [value]="rate">{{ rate.name }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="itemLength > 0"> <!-- Start of Item Inputs -->
        <ion-range pin="true" [min]="minItemLength" max="100" name="length" step="1"
          (ionChange)="onItemLengthChange($event)"
          [(ngModel)]="item.length" required color="secondary">
        </ion-range>
        <h3 item-left>Length</h3>
        <ion-badge item-right color="secondary">{{ item.length }} Ft</ion-badge>
      </ion-item>
      <ion-item *ngIf="itemWidth > 0">
        <ion-range pin="true" min="1" max="10" name="width" step="1"
          (ionChange)="onItemWidthChange($event)"
          [(ngModel)]="item.width" required color="secondary">
        </ion-range>
        <h3 item-left>Width</h3>
        <ion-badge item-right color="secondary">{{ item.width }} Ft</ion-badge>
      </ion-item>
      <ion-item *ngIf="itemQuantity > 0">
        <ion-range pin="true" min="1" max="4" name="quantity" snaps="true" step="1"
          (ionChange)="onItemQuantityChange($event)"
          [(ngModel)]="item.quantity" required color="secondary">
        </ion-range>
        <h3 item-left>Quantity</h3>
        <ion-badge item-right color="secondary">{{ item.quantity }} </ion-badge>
      </ion-item>
      <ion-item>
        <ion-range pin="true" min="1" max="4" name="coats" snaps="true" step="1"
          (ionChange)="onCoatsChange($event)"
          [(ngModel)]="item.coats" required color="secondary">
        </ion-range>
        <h3 item-left>Coats</h3>
        <ion-badge item-right color="secondary">{{ item.coats }} C</ion-badge>
      </ion-item>
      <ion-item>
        <ion-range pin="true" min="0" max="24" name="prep" step="1"
          (ionChange)="onPrepChange($event)"
          [(ngModel)]="item.prep" required color="secondary">
        </ion-range>
        <h3 item-left>Prep</h3>
        <ion-badge item-right color="secondary">{{ item.prep }} H</ion-badge>
      </ion-item> <!-- End of Item Inputs -->
      <ion-item>
        <ion-label>Material</ion-label>
        <ion-select [(ngModel)]="item.material_type" name="materialType"
          interface="action-sheet" (ngModelChange)="onMaterialChange($event)">
          <ion-option *ngFor="let material of materials" [value]="material">{{ material.name }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="item.quantity > 0">
        <ion-label>Material Quantity</ion-label>
        <ion-input type="number" (ngModelChange)="onMaterialQuantityChange($event)"
          [(ngModel)]="item.material_quantity"
          name="materialQuantity" required text-right>
        </ion-input>
      </ion-item>
      <ion-list-header>
        Results
      </ion-list-header>
      <ion-item>
        Work Hours:
        <ion-badge item-right color="secondary">{{item.hours}} H</ion-badge>
      </ion-item>
      <ion-item>
        Materials:
        <ion-badge item-right color="secondary">{{item.material_quantity}} G</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label floating>Note</ion-label>
        <ion-textarea [(ngModel)]="item.comment" name="comment"></ion-textarea>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
