<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ item.name | titlecase }}
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Close</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      {{item.name | titlecase }} Details
    </ion-list-header>
    <ion-item *ngIf="itemLength > 0"> <!-- Start of Item Inputs -->
      Length
      <ion-badge item-right color="secondary">{{ item.length }} Ft</ion-badge>
    </ion-item>
    <ion-item *ngIf="itemWidth > 0">
      Width
      <ion-badge item-right color="secondary">{{ item.width }} Ft</ion-badge>
    </ion-item>
    <ion-item *ngIf="itemQuantity > 0">
      Quantity
      <ion-badge item-right color="secondary">{{ item.quantity }} </ion-badge>
    </ion-item>
    <ion-item>
      Coats
      <ion-badge item-right color="secondary">{{ item.coats }} C</ion-badge>
    </ion-item>
    <ion-item>
      Prep
      <ion-badge item-right color="secondary">{{ item.prep }} H</ion-badge>
    </ion-item> <!-- End of Item Inputs -->
    <!-- <ion-item>
      <ion-label>Material</ion-label>
      <ion-badge item-right color="secondary">{{ item.material_type.name }}</ion-badge>
    </ion-item> -->
    <ion-list-header>
      Results
    </ion-list-header>
    <ion-item>
      Work Hours:
      <ion-badge item-right color="secondary">{{item.hours}} H</ion-badge>
    </ion-item>
    <ion-item>
      Materials:
      <ion-badge item-right color="secondary">{{item.material_quantity}} G</ion-badge>
    </ion-item>
  </ion-list>
  <h3>Note</h3>
  <p>{{ item.comment }}</p>
</ion-content>
