<ion-header>
  <ion-navbar>
    <ion-title>Interior Preview</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <button *ngFor="let room of rooms; let i = index"
        ion-item
        (click)="onPreviewRoom(room, i)">
        <h2>{{ room.name }}</h2>
        <ion-badge item-right color="secondary">
          {{room.hours}} H | {{room.material_quantity}} G
        </ion-badge>
      </button>
  </ion-list>
</ion-content>
