<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>
</ion-header>

<ion-content  padding>
  <form #form="ngForm" (ngSubmit)="onSignup(form)">
    <ion-list >
      <ion-item>
        <ion-label fixed >Email</ion-label>
        <ion-input ngModel required type="email" name="email" placeholder="Email" email></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed >Password</ion-label>
        <ion-input ngModel required type="password"
        name="password" placeholder="Password" [minlength]="6"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed >Password Confirmation</ion-label>
        <ion-input ngModel required type="password"
        name="password_confirmation" placeholder="Password Confirmation" [minlength]="6"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed >Account Name</ion-label>
        <ion-input ngModel required type="text"
        name="account" placeholder="Password Confirmation"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button block [disabled]="!form.valid" type="submit">Sign Up!</button>
  </form>
</ion-content>
