
<ion-header>
  <ion-navbar>
    <ion-title>{{ client.full_name | titlecase }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content >
  <ion-list-header>
    contact info
  </ion-list-header>
  <ion-list>
    <ion-item>
      <ion-icon name="person" item-left></ion-icon>
        {{ client.full_name | titlecase }}
    </ion-item>
    <ion-item>
       <ion-icon name="phone-portrait"></ion-icon>
        {{ client.cell }}
    </ion-item>
    <ion-item>
       <ion-icon name="call" item-left></ion-icon>
        Phone: {{ client.phone }}
    </ion-item>
    <ion-item>
       <ion-icon name="mail" item-left></ion-icon>
        {{ client.email }}
    </ion-item>
    <!--<ion-item>
      <h2>{{ client.properties[0].address }}</h2>
    </ion-item>-->
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="onEditClient()">Edit Client</button>
      </ion-col>
      <ion-col>
        <button ion-button block (click)="onDeleteClient()" color="danger">Delete Client</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
