<ion-header>
  <ion-navbar>
    <ion-title>{{ side.code }} Side</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-list-header>
    {{ side.code }} Side Dimensions
  </ion-list-header>
    <ion-list>
      <form #f="ngForm" (ngSubmit)="onSaveRoom(f)">
        <ion-item>
          <ion-range pin="true" min="0" max="100" name="length"
              [(ngModel)]="side.length" required color="secondary">
            </ion-range>
          <h3 item-left>Length</h3>
          <ion-badge item-right color="secondary">{{ side.length }} ft</ion-badge>
          </ion-item>
        <ion-item>
          <ion-range pin="true" min="0" max="50" name="hight"
            [(ngModel)]="side.hight" required color="secondary">
          </ion-range>
          <h3 item-left>Height</h3>
          <ion-badge item-right color="secondary">{{ side.hight }} ft</ion-badge>
        </ion-item>
        <ion-item>
          <ion-range pin="true" min="1" max="4" name="coats" snaps="true" step="1"
            [(ngModel)]="side.coats" required color="secondary">
          </ion-range>
          <h3 item-left>Coats</h3>
          <ion-badge item-right color="secondary">{{ side.coats }}</ion-badge>
        </ion-item>
    </form>
  </ion-list>
</ion-content>
