<ion-header>
  <ion-navbar >
    <ion-title>New Estimate</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="onAddEstimate(form)">
    <ion-list >
      <ion-item>
        <ion-label fixed >First Name</ion-label>
        <ion-input ngModel required type="text" name="firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed >Last Name</ion-label>
        <ion-input ngModel required type="text" name="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed >Cell</ion-label>
        <ion-input ngModel required type="text" name="cell"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed >Phone</ion-label>
        <ion-input ngModel type="text" name="phone_number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed >Email</ion-label>
        <ion-input ngModel required type="email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed >Address Line 1</ion-label>
        <ion-input ngModel required type="textarea" name="addr_line1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed >Address Line 2</ion-label>
        <ion-input ngModel required type="textarea" name="addr_line2"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed >Job Type</ion-label>
        <ion-select ngModel name="work_type" required>
          <ion-option *ngFor="let type of jobTypes" [value]="type">{{ type }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label fixed >Work Description</ion-label>
        <ion-input ngModel type="textarea" name="work_description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Start Date/Time</ion-label>
        <ion-datetime ngModel required displayFormat="MMM DD, YYYY HH:mm" name="start_time"></ion-datetime>
      </ion-item>
      <button ion-button [disabled]="!form.valid" type="submit" block>Add Estimate</button>
    </ion-list>
  </form>
</ion-content>
